main{
    width: 100%;
    height: 100vh;
    padding: 70px 80px;
    display: flex;
    justify-content: space-between;

    .column{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 272px;
        height: fit-content;
        max-height: 100%;
        background-color: #1e2633;
        border: 1px solid #7e97b27c;
        box-shadow: 2px 5px 30px hsl(0, 0%, 4%);
        border-radius: 12px;
        overflow-y: auto;

        .column-header{
            position: sticky;
            top: 0;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            font-weight: 600;
            padding: 14px;
            color: #f5f7fad4;
            border-bottom: 1px solid #7e97b27c;
            background-color: #1e2633;
        }

        .column-body{
            flex: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .task-card{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border-radius: 6px;
                background-color: #2d3b4d;
                border: 1px solid #7e97b28c;
                box-shadow: 1px 1px 5px hsl(0, 0%, 4%);
                transition: all 200ms;
                cursor: pointer;

                p{
                    font-size: 14px;
                    font-weight: 500;
                    color: #f5f7fad4;
                    font-family: "Inter", "Segoe UI", Roboto, sans-serif;
                }
                button{
                    opacity: 0;
                    background: none;
                    border-radius: 6px;
                }
            }

            .task-card:hover button{
                opacity: 1;
            }
            
            .task-card:hover,:active{
                transform: scale(1.02);
                transition: all 200ms;
            }

            .to-do:hover{
                box-shadow: 0px 0px 10px #1eacff;
                transition: all 200ms;
            }


            .in-progress:hover{
                box-shadow: 0px 0px 10px  #b8b70d;
                transition: all 200ms;
            }
            

            .done:hover{
                box-shadow: 0px 0px 10px #029e39;
                transition: all 200ms;
            }
        }
    }
}

.column::-webkit-scrollbar {
    width: 8px;             
}

.column::-webkit-scrollbar-track {
    background: transparent; 
}

.column::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #5b5be5, #312ECB); 
    border-radius: 20px;     
    border: 2px solid #1e2633;
    cursor: pointer;
    min-height: 40px;
}