<div *ngIf="isOpen" class="form-modal"  >
    <div class="form-container">
        <div class="form-options">
            <h3>Crear Tarea</h3>
            <button (click)="closeForm()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#e2003f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            </button>
        </div>
        <form [formGroup]="formCreate" class="form-create">
            <div class="form-header">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input formControlName = "title" type="text" name="title" id="title" placeholder="titulo de la tarea"  [ngClass]="{'invalid':formCreate.controls.title.invalid && formCreate.controls.title.touched}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea formControlName = "description"  [ngClass]="{'invalid':formCreate.controls.description.invalid && formCreate.controls.description.touched}" >

                    </textarea>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label for="status" >Estado</label>
                    <select name="status" id="status" formControlName="status" [ngClass]="{'invalid':formCreate.controls.status.invalid && formCreate.controls.status.touched}" >
                        <option value="">Seleccione un estado</option>
                        <option value="TODO">Por hacer</option>
                        <option value="INPROGRESS">En proceso</option>
                        <option value="DONE">Terminada</option>
                    </select>
                </div>
                <div class="form-button">
                    <button [disabled]="formCreate.invalid" (click)="createTask()">crear</button>                        
                </div>
            </div>
        </form> 
    </div>
</div>