nav{
    width: 100%;
    padding: 20px 50px;
    background-color: #1e2633c9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #2e3b4e;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-logo{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        h2{
            color: #f5f7fad6;
        }   
    }

    .nav-logout{
        display: flex;
        align-items: center;
        cursor: pointer;

        button{
            cursor: pointer;
            padding: 5px 8px;
            border-radius: 6px;
            background-color: #0068c8;
        }
    }
}