<div *ngIf="isOpen" class="modal-container" >
    <div class="modal">
        <div class="modal-options">
            <h3>Tarea</h3>
            <button (click)="closeModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#e2003f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x-icon lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            </button>
        </div>
        <form class="form-update" [formGroup]="formUpdate">
            <div class="form-header">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input [ngClass]="{'invalid': formUpdate.controls.title.invalid && formUpdate.controls.title.touched}" type="text" name="title" formControlName="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description"formControlName="description" [ngClass]="{'invalid': formUpdate.controls.description.invalid && formUpdate.controls.description.touched}">

                    </textarea>
                </div>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label for="status">Estado</label>
                    <select name="status" id="status" formControlName="status" >
                        <option value="TODO">Por hacer</option>
                        <option value="INPROGRESS">En proceso</option>
                        <option value="DONE">Terminada</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="date">Fecha de creacion</label>
                    <p>{{task?.createdAt | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>    
        </form>
        <div class="modal-actions">
            <button class="delete" type="button" (click)="handlerDeleted()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fefefe" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><path d="M10 11v6"/><path d="M14 11v6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg>
            </button>
            <button class="save" type="button" [disabled]="formUpdate.invalid" (click)="handlerSubmit()">
                guardar
            </button>
        </div>
    </div>
</div>
