.login-form{
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: #2d3b4d;
    padding: 35px 60px;
    border-radius: 12px;
    border: 1px solid #7e97b27c;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    color:#f5f7fa;
    gap: 25px;

    .form-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 8px;

        .invalid{
            border: 1.9px solid #fd379c;

        }

        .invalid:focus{
            outline: none;
            border: 1.9px solid #fd379c;
        }
        
        input{
            font-weight: 800;
            border-radius: 6px;
            padding: 9px 16px;
            background-color: #31425b;
            border: 2px solid #7e97b240;
            color: #f5f7fad0;
        }

        input::placeholder{
            color: #f5f7fa64;
        }

        input:focus{
            outline: none;
            border: 2px solid #7e97b2b7;
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #31425b inset !important;
            -webkit-text-fill-color: #f5f7fa !important; 
            border: 1.5px solid #7e97b240; 
        }

        label{
            font-weight: bold;
            font-size: small;
            color: #1eacff;
        }
    }

    button{
        text-decoration: none;
        width: 100%;
        padding: 10px 20px;
        border-radius: 6px;
        color: #f5f7fad8;
        background: linear-gradient(90deg, #1eacff, #312ECB);
        border: 1px solid #7e97b251;
        font-weight: bold;
        transition: all 200ms;
        cursor: pointer;
    }


    button:hover{
        transition: all 200ms;
        box-shadow: 0px 0px 20px #007bffcc;
    }

    button:active {
        transform: scale(0.97);
    }


    .signUp{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        p{
            font-size:14px;
            text-align: center;
            color: #f5f7fa6f;
            font-weight: 200;
        }

        a{
            font-size: 14px;
            list-style: none;
            font-weight: 500;
            color: #1eacff;
        }

    }

}
