<section>
    <div id="title">
        <svg id="logo-35" width="80" height="80" viewBox="0 0 50 39" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.4992 2H37.5808L22.0816 24.9729H1L16.4992 2Z" class="ccompli1" fill="#007AFF"></path> <path d="M17.4224 27.102L11.4192 36H33.5008L49 13.0271H32.7024L23.2064 27.102H17.4224Z" class="ccustom" fill="#312ECB"></path> </svg>
        <h1>TaskFlow</h1>
    </div>
    <div id="cardInfo">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#06b344" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-check-icon lucide-check-check"><path d="M18 6 7 17l-5-5"/><path d="m22 10-7.5 7.5L13 16"/></svg>
        <p>
            Planifica y gestiona tus actividades.<span>TaskFlow</span> te ayuda a organizarlas para que tengas un mayor control y logres completar todas tus tareas.
        </p>
    </div>
    <button>Comenzar</button>
</section>